.kWDRsS .rc-time-picker-panel-select, .kWDRsS .rc-time-picker-input, .kWDRsS .rc-time-picker-panel-input {
    font-family: "Consolas",sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #0088CC;
    border-radius: 5px;
    display: flex;
    text-align: center;
    width: 200px;
    color: black;
    min-height: 50px;
}
.rc-time-picker-panel-select {
    left:6px;
    height: 300px;
    overflow: scroll;
}
.rc-time-picker-input {
    color: #0088CC;
}
.react-date-picker, .react-date-picker *, .react-date-picker *:before, .react-date-picker *:after {
    
    font-weight: 500;
}
ul {
    height: 150px;
    color: #0088CC;
    overflow: scroll;
}
div.rc-time-picker-panel-inner {
    height: 360px;

}
.rc-time-picker-panel-select-option > ul  {
    height: 550px;
}
